<app-google-pay
  [buttonColor]="buttonColor"
  [buttonType]="buttonType"
  [buttonWidth]="buttonWidth"
  [buttonHeight]="buttonHeight"
  [cardTypes]="cardTypes"
  [authMethods]="authMethods"
  [typeTokenization]="typeTokenization"
  [gateway]="gateway"
  [gatewayMerchantId]="gatewayMerchantId"
  [merchantId]="merchantId"
  [merchantName]="merchantName"
  [totalPriceStatus]="totalPriceStatus"
  [totalPriceLabel]="totalPriceLabel"
  [totalPrice]="totalPrice"
  [currencyCode]="currencyCode"
  [countryCode]="countryCode"
  [callbackIntents]="callbackIntents"
>
</app-google-pay>
